* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300px;
    letter-spacing: .05rem;
}


.section-title {
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.section-title span {
    color: crimson;
}

.cta {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    letter-spacing: .5rem;
    text-align: center;
    text-transform: uppercase;
    margin-top: 36px;
    transition: .3s ease;
}

.cta:hover {
    background-color: crimson;
}

.brand h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}

.brand h1 span {
    color: crimson;
}

.icon {
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}

.icon img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* Nav Section */
#nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100vw;
    padding: 20px 30px;
    transition: .3s ease background-color;
}

.nav-color {
    background-color: #29323c;
}

#nav .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#nav .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: #29323c;
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    z-index: 1;
    overflow-x: hidden;
    justify-content: center;
    transition: .5s ease left;
}

#nav .nav-list ul.active {
    left: 0;
}

#nav .navBar li a {
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

#nav .navBar li a:hover {
    color: crimson;
}

#nav .navBar li a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(0);
    color: white;
    opacity: 0.2;
    font-size: 10rem;
    z-index: -1;
    letter-spacing: 50px;
    transition: .3s ease letter-spacing;
}

#nav .navBar li:hover a::after {
    transform: translate(-50%, -50%) scale(0.8);
    letter-spacing: initial;
}

#nav .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    z-index: 100;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: scale(.8);
}

#nav .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}

#nav .hamburger .bar::after,
#nav .hamburger .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: .3s ease;
    transition-property: top, bottom;
}

#nav .hamburger .bar::after {
    top: 8px;
}


#nav .hamburger .bar::before {
    bottom: 8px;
}

#nav .hamburger.active .bar::after {
    top: 0;
}

#nav .hamburger.active .bar::before {
    bottom: 0;
}

/* End Nav Section */



/* Hero Section */
#hero {
    background-image: url(./img/hero-bg.png);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}

#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
}

#hero h1:nth-child(1) span {
    animation-delay: .5s;
}

#hero h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#hero h1:nth-child(3) span {
    animation-delay: 2.5s;
}

#hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}

#hero h1:nth-child(1) {
    animation-delay: 1s;
}

#hero h1:nth-child(2) {
    animation-delay: 2s;
}

#hero h1:nth-child(3) {
    animation: text_reveal_name .5s forwards;
    animation-delay: 3s;
}

/* End Hero Section */

/* Service Section */

#services .service {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#services .service-top {
    width: 70%;
    margin: 0 auto;
}

#services .service-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#services .service-item {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    border-radius: 10px;
    background-image: url(./img/img-1.png);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    color: white;
    overflow: hidden;
}

#services .service-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}

#services .service-item h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#services .service-item p {
    text-align: left;
}


/* End Service Section */


/* Project Section */
#projects .projects {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#projects .projects-header h1 {
    margin-bottom: 50px;
}

#projects .all-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#projects .project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#projects .project-info {
    padding: 30px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
}

#projects .project-info h1 {
    font-size: 4rem;
    font-weight: 500;
}

#projects .project-info h2 {
    font-size: 1.8rem;
    font-size: 500;
    margin-top: 10px;
}

#projects .project-img {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#projects .project-img::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .5;

}

#projects .project-img img {
    transition: .3s ease;
}

#projects .project-item:hover .project-img img {
    transform: scale(1.1);
}

/* End Project Section */

/* About Section */
#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#about .col-left {
    width: 250px;
    height: 360px;
}

#about .col-right {
    width: 100%;
}

#about .col-right h2 {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}

#about .col-right p {
    margin-bottom: 20px;
}

#about .col-right .cta {
    color: black;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}

#about .col-left .about-img {
    height: 100%;
    width: 100%;
    position: relative;
    border: 10px solid white;
}

#about .col-left .about-img::after {
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid crimson;
    z-index: -1;
}

/* End About Section */

/* Contact Section */
#contact .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

#contact .contact-items {
    width: 400px;

}

#contact .contact-item {
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 0 #0000002c;
    flex-direction: column;
    transition: .5s ease;
}

#contact .contact-item:hover {
    box-shadow: 0 0 30px 0 #0000002c;
}

#contact .icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#contact .contact-info h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#contact .contact-info h2 {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}

/* End Contact Section */

/* Footer */
#footer {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer .footer {
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 40px;
}

#footer h2 {
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer .social-item {
    display: inline-block;
    margin: 20px;
}

#footer .social-item i {
    color: crimson;
}

#footer p {
    color: white;
    font-size: 1.3rem;
}

/* End Footer */

/* Keyframes */
@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: white;
    }
}

@keyframes text_reveal_name {
    100% {
        color: crimson;
        font-weight: 500;
    }
}

/* End Keyframes */

/* Media Qeury for Tablet */
@media only screen and (min-width:768px) {


    .cta {
        font-size: 2.5rem;
        padding: 20px 60px;

    }

    h1 .section-title {
        font-size: 6rem;
    }

    /* Hero */
    #hero h1 {
        font-size: 7rem;
    }

    /* End Hero */

    /* Service Section */
    #services .service-bottom .service-item {
        flex-basis: 45%;
        margin: 2.5%;
    }

    /* End Service Section */

    /* Project Section */
    #projects .project-item {
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
        display: flex;
        flex-direction: row;
    }

    #projects .all-projects .project-info {
        height: 100%;
        flex-basis: 50%;
    }

    #projects .all-projects .project-img {
        height: 100%;
        flex-basis: 50%;
    }

    #projects .project-item:nth-child(2n) .project-info {
        order: 2;
    }

    #projects .project-item:nth-child(2n) .project-img {
        order: 1;
    }

    /* Also you can do it like below
    #projects .project-item:nth-child(2n) {
        flex-direction: row-reverse;
    }
    */

    /* End Project Section */

    /* About Section */
    #about .about {
        flex-direction: row;
    }

    #about .col-left {
        width: 600px;
        height: 400px;
        padding-left: 60px;
    }

    #about .about .col-left .about-img::after {
        left: -45px;
        top: 34px;
        border: 10px solid crimson;
    }

    #about .col-right {
        text-align: left;
        padding: 30px;
    }

    #about .col-right h1 {
        text-align: left;
    }

    /* End About Section */

    /* Conatct Section */
    #contact .contact {
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        min-width: 20vw;
    }

    #contact .contact-items {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 20px;
    }

    #contact .contact-item {
        margin: 20px;
        flex-direction: row;
    }

    #contact .contact-item .icon {
        height: 80px;
        width: 80px;
    }

    #contact .contact-item .icon img {
        object-fit: contain;
    }

    #contact .contact-item .contact-info {
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }

    /* End Conatct Section */
}

/* End Media Qeury for Tablet */

/* Media Query for Desktop */
@media only screen and (min-width: 1200px) {

    /* nav */
    #nav .navBar .nav-list {
        flex-basis: 50%;
    }

    #nav .navBar .hamburger {
        display: none;
    }

    #nav .nav-list ul {
        list-style: none;
        position: relative;
        background-color: transparent;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        width: 100%;
        height: 100%;
        left: 0;
        flex-direction: row;
        align-items: center;
        z-index: 1;
        overflow-x: hidden;
        justify-content: center;
    }

    #nav .navBar li a {
        font-size: 1.8rem;
    }

    #nav .navBar li a::after {
        display: none;
    }


    /* End nav */

    #services .service-bottom .service-item {
        flex-basis: 22%;
        margin: 1.5%;
    }
}


/* End Media Query for Desktop */