* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* header */

.header {
    background: no-repeat center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(image/banner.png);
    height: 100vh;
    width: 100vw;
    position: relative;
    margin: 0 auto;
    color: white;
}

.header a {
    color: white;
}

nav {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    position: relative;
}

nav img {
    width: 150px;
    align-self: center;
}

.nav-list {
    display: inline-block;
    margin-right: 12px;
    font-size: small;
    text-align: left;
    padding: 10px;
}

.nav-list::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: #FF5349;
    transition: 0.5s;
    margin: auto;
}

.nav-list:hover::after {
    width: 100%;
    cursor: pointer;
}

nav .fa-solid {
    display: none;
}


.header-body {
    width: 90%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-body h1 {
    font-size: 60px;
    margin-bottom: 5%;
}

p {
    font-weight: 100;
    font-size: small;
    line-height: 2;
}

.btn {
    margin-top: 50px;
    border: solid white 1px;
    display: inline-block;
    padding: 10px 30px;
    font-size: small;
    transition: 0.5s;
    color: white;
}

.btn:hover {
    border: #FF5349 solid 1px;
    background-color: #FF5349;
    cursor: pointer;
}

@media(max-width: 700px) {
    .header {
        width: 100vw;
    }

    nav {
        width: 100%;
    }

    nav img {
        margin-left: 10px;
    }

    .nav-lists {
        z-index: 2;
        position: absolute;
        top: 0;
        right: -200px;
        height: 100vh;
        background-color: #FF5349;
        width: 150px;
        text-align: left;
        transition: 0.5s;
    }

    .nav-list {
        display: block;
        margin-top: 10px;
    }

    nav .fa-xmark {
        display: block;
        margin-top: 10px;
        padding-left: 10px;
        cursor: pointer;
    }

    .header-body h1 {
        font-size: 2rem;
    }

    nav .fa-bars {
        display: inline-block;
        position: absolute;
        right: 20px;
        top: 30px;
        cursor: pointer;
    }
}

/* course */
.course {
    margin: 100px auto 5%;
    text-align: center;
    width: 80%;
}

.row {
    display: flex;
    width: 100%;
    margin: 40px auto 5%;
    justify-content: space-between;
}

.course-col {
    flex-basis: 31%;
    background-color: #FFF3F3;
    margin: 10px 0;
    border-radius: 10px;
    padding: 20px 20px 30px;
    transition: 0.5s;
}

.course-col:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.course h1 {
    margin-bottom: 8%;
    font-size: 2rem;
}

.course p {
    color: grey;
}

h3 {
    margin: 20px auto;
}

@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }

    .course-col {
        flex: auto;
        margin-bottom: 10px;
    }
}

/* campus */

.campus {
    width: 80%;
    margin: 10% auto;
    text-align: center;
}

.campus h1 {
    font-size: 2rem;
    margin-bottom: 8%;
}

.campus-col {
    flex-basis: 31%;
    width: 100%;
    border-radius: 10px;
    position: relative;
    margin-bottom: 5%;
}

.campus-col img {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    display: block;
}

.layer {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer h3 {
    bottom: 0;
    width: 100%;
    font-weight: 500;
    font-size: 26px;
    position: absolute;
    transition: 0.5s;
    color: white;
    opacity: 0;
}

.layer:hover {
    background-color: rgba(225, 0, 0, 0.5);
    color: white;
    cursor: pointer;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}

/* facilities */

.facilities {
    width: 80%;
    margin: 20px auto 5%;
    text-align: center;
}

.facilities-col {
    flex-basis: 31%;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 5%;
}

.facilities-col img {
    width: 100%;
    border-radius: 10px;
}

.facilities p {
    color: grey;
}

.facilities h1 {
    font-size: 2rem;
    margin-bottom: 8%;
}

.facilities h4 {
    margin: 5% auto;
}

/* testimonials */

.testimonial {
    width: 80%;
    margin: 20px auto 5%;
    text-align: center;
}

.testimonial-col {
    flex-basis: 45%;
    display: flex;
    justify-content: space-between;
    background-color: RGB(255, 243, 243);
    padding: 40px 40px;
    border-radius: 10px;
    margin-bottom: 5%;
}

.testimonial-col img {
    width: 2.5rem;
    border-radius: 50px;
    align-self: flex-start;
    align-items: flex-start;
}

.testimonial-content {
    text-align: left;
    padding: 0 20px;
}

.testimonial p {
    color: grey;
}

.testimonial h1 {
    font-size: 2rem;
    margin: 30px auto;
}

.testimonial .fa-solid,
.fa-regular {
    color: #FF5349;
}

/* contact */
.contact {
    width: 80%;
    margin: 20px auto;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(image/banner2.jpg);
    border-radius: 10px;
    height: 300px;
    background-size: cover;
    position: relative;
    padding: 20px 40px;
}

.contact-content {
    width: 90%;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.contact-content h1 {
    color: white;
    font-size: 2.2rem;
    font-weight: 500;
}

@media(max-width: 700px) {
    .contact-content h1 {
        font-size: 1.5rem;
    }

}